
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<body>
<div class="Main">
        <form action="" method="">
    <div class="form-group">
            <div>
                <label> Username:</label>
                <input />
            </div>
            <div>
                <label> Password:</label>
                <input />
            </div>
            <button>Submit</button>
    </div>
        </form>
</div>    

</body>