<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/LoginPageStyle.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/style.css" rel="stylesheet" />

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
