body {
	background-image: url('../../images/bg.jpg');
	background-repeat: no-repeat;
}

.head{
	position:absolute;
	top:15%;
	left:40%;
}

.Main {
	position:absolute;
	top:40%;
	left:40%;
}

.form-group {
	margin: 15px 15px 15px 15px;
}

.form-btn{
	padding: 15px;
	float:right;
}

.form-btn-cancel{
	padding: 15px;
	float:left;
}